*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Custom Properties, update these for your own design */

:root {
    --ff-primary: 'Source Sans Pro', sans-serif;
    --ff-secondary: 'Source Code Pro', monospace;
    
    --fw-reg: 300;
    --fw-bold: 900;
    
    --clr-light: #fff;
    --clr-dark: #303030;
    --clr-accent: #A5C9FF; /*16e0bd;*/
    
    --fs-h1: 3rem;
    --fs-h2: 2.25rem;
    --fs-h3: 1.5rem;
    --fs-h4: 1.5rem;
    --fs-h5: 1.45rem;
    --fs-h6: 1.3rem;
    --fs-body: 1.2rem;
}

@media (min-width: 800px) {
    :root {
        --fs-h1: 4.5rem;
        --fs-h2: 3.75rem;
        --fs-h3: 1.9rem;
        --fs-h4: 1.75rem;
        --fs-h5: 1.65rem;
        --fs-h6: 1.65rem;
        --fs-body: 1.55rem;
    }

    h4, h5, h6, p {
        font-family: 'Source Code Pro', sans-serif;
    }
}

html {
    scroll-behavior: smooth;
}

body {
    background: var(--clr-light);
    color: var(--clr-dark);
    margin: 0;
    font-family: var(--ff-primary);
    font-size: var(--fs-body);
    line-height: 1.6;
}

img {
    display: block;
    max-width: 100%;
}

section {
    padding: 5em 2em;
}

strong { 
    font-weight: var(--fw-bold);
}
/* Typography */

h1,
h2,
h3 {
    line-height: 1;
    margin: 0;
}

h1 { font-size: var(--fs-h1) }
h2 { font-size: var(--fs-h2) }
h3 { font-size: var(--fs-h3) }
h4 { font-size: var(--fs-h4); }
h5 { font-size: var(--fs-h5);}
h6 { font-size: var(--fs-h6); }
p { font-size: var(--fs-body);}

/* Header */
.header {
    display: flex;
    justify-content: space-between;
    padding: 1em;
}

/* .logo {
    max-width: 100px;
} */




@media (min-width: 600px) {

    .nav {
        top: 0;
        bottom: 93%;
        left: 0;
        right: 0;
    }

    .nav_list {
        width: 93%;
    }

    /* .nav-row {
        position: fixed;
        background: var(--clr-dark);
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
    } */

    .nav_list {
        flex-direction: row;
    }
}

.nav_link {
    color: inherit;             
    font-weight: var(--fw-bold);
    font-size: 2rem;
    text-decoration: none;
}

.nav_link:hover {
    color: var(--clr-accent);
}

/* Nav Toggler */
.nav-toggle {
    padding: 1em;
    background: transparent;
    border: 0;
    cursor: pointer;
    position: fixed;
    right: 1em;
    top: 1em;
    z-index: 1000;
}

.nav-open .nav {
    transform: translateX(0%);
}

.hamburger {
    display: block;
    position: relative;
}

.hamburger,
.hamburger::before,
.hamburger::after {
    background: var(--clr-accent);
    width: 3em;
    height: 4px;
    border-radius: 1em;
    transition: transform 250ms ease-in-out;
}


.hamburger::before,
.hamburger::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
}

.hamburger::before { top: 7px; }
.hamburger::after { bottom: 7px; }

/* Toggle on phone */
.nav-open .hamburger {
    transform: rotate(.625turn);
}

.nav-open .hamburger::after {
    opacity: 0;
    /* dissapear */
}

.nav-open .hamburger::before {
    transform: rotate(90deg) translateX(-6px);
}

/* Sections */
.section_title {
    margin-bottom: .25em;
}

.intro-title {
    font-weight: var(--fw-reg);
}

.section_sub {
    margin: 0;
    font-size: var(--fs-h3);
}

.section_sub_intro {
    background: var(--clr-accent);
    padding: .25em 1em;
    font-family: var(--ff-secondary);
    margin-bottom: 1em;
}

/* :focus {
    outline: 3px solid var(--clr-accent);
    outline-offset: 3px;
} */

/*  Intro section  */

.intro {
    position: relative;
}

@media (min-width: 600px) {
    .intro {
        display: grid;
        width: min-content;
        margin: 0 auto;
        grid-column-gap: 1em;
        grid-template-areas: 
            "img title"
            "img subtitle";
        grid-template-columns: min-content max-content;
    }
    
    .intro-img {
        grid-area: img;
        min-width: 250px;
        position: relative;
        z-index: 2;
        border-radius: 5%;
        width: 250px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
        /* max-height: 300px; */
        /* size: 250px; */
    }    
    
    .section_sub_intro {
        align-self: start;
        grid-column: -1 / 1;
        grid-row: 2;
        text-align: right;
        position: relative;
        left: -1.5em;
        width: calc(100% + 1.5em);
    }
}



/* Work Exp */
.work-exp {
    /* background-color: var(--clr-dark); */
    /* background-size: cover; */
    background-color: #E1E1E1;
    /* background-blend-mode: multiply; */
    color: var(--clr-dark);
    text-align: center;
}

.proj {
    color: var(--clr-dark);
    text-align: center; 
}

.title_work::after {
    content: '';
    display: block;
    width: 3em;
    height: 1px;
    margin: 0.5em auto 1em;
    background: var(--clr-dark);
    /* opacity: 0.5; */
}



/* Footer */

.footer {
    background: #303030;
    color: #A5C9FF;
    text-align: center;
    padding: 2.5em 0;
}

#mail {
    background: #E1E1E1;
    padding: .25em 1.5em;
    margin-top: 0.5rem;
    font-family: var(--ff-secondary);
    margin-top: 1.2rem;
    margin-bottom: 1em;
    color: #303030;
    display: inline-block;
}

#mail:hover {
    background-color: #A5C9FF;
    color: #fff;
    transform: scale(1.1);
}

.social-list {
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 2em 0;
    padding: 0;
}

.social-list_item {
    margin: 0 1.3em;
}

.icon-color:hover {
    color: var(--clr-accent);
    transform: scale(1.2);
}

/* Projects */
#projects-line::after {
    content: '';
    display: block;
    width: 3em;
    height: 1px;
    margin: 0.5em auto 1em;
    background: var(--clr-light);
}